#navbar.navbar-collapse.collapse
  %ul.nav.navbar-nav
    %li{class: (@active_tab == "home" ? "active" :"")}
      = link_to "Home", projects_path
    %li{class: (@active_tab == "projects" ? "active" :"")}
      = link_to "Projects", projects_path
    %li{class: (@active_tab == "sources" ? "active" :"")}
      = link_to "Sources", sources_path
    %li{class: (@active_tab == "dashboards" ? "active" :"")}
      = link_to "Dashboards", dashboards_path
    %li{class: (@active_tab == "collections" ? "active" :"")}
      = link_to "Collections",collections_path
    %li.dropdown
      %a.dropdown-toggle{href:"#",data:{toggle:"dropdown"},role:"button",
                         aria:{haspopup:"true",expanded:"false"}}
        = 'Dropdown'
        %span.caret
      %ul.dropdown-menu
        %li
          %a='Action'
        %li
          %a='Another action'
        %li
          %a='Something'
        %li.divider{role:"separator"}
        %li.dropdown-header= 'Nav header'
        %li
          %a='Separated link'
        %li
          %a='One more separated link'
  %form.navbar-form.navbar-right
    %a.btn.btn-danger.navbar-right{href:"/users/sign_out",data:{method:"delete"}}="Log out"
