%h1 Listing dashboards
.row
  .col-md-6
    #tester1{style:"width:600px;height:400px;"}
  .col-md-6
    #tester2{style:"width:600px;height:400px;"}
.row
  .col-md-6
    #tester8{style:"width:600px;height:400px;"}
  .col-md-6
    #bubble.showcase__section
      .spacer.--small
      #bubbleplots
        .bubbleplot{"data-num" => "0"}
          #plotdiv.plot
          .control-row
            Country:
            %select.countrydata
    #tester9{style:"width:600px;height:400px;"}
.row
  .col-md-6
    #tester7{style:"width:600px;height:400px;"}
  .col-md-6
    #tester6{style:"width:600px;height:400px;"}
.row
  .col-md-6
    #tester5{style:"width:600px;height:400px;"}
  .col-md-6
    #tester3{style:"width:600px;height:400px;"}
.row
  .col-md-6
    #tester4{style:"width:600px;height:300px;"}
  .col-md-6
    #tester0{style:"width:600px;height:400px;"}
%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @dashboards.each do |dashboard|
      %tr
        %td= dashboard.name
        %td= link_to 'Show', dashboard
        %td= link_to 'Edit', edit_dashboard_path(dashboard)
        %td= link_to 'Destroy', dashboard, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Dashboard', new_dashboard_path
